<wm-page data-ng-controller="MainPageController" name="mainpage" pagetitle="Main">
    <wm-header content="header" name="header" height="auto"></wm-header>
    <wm-top-nav name="topnav" content="topnav"></wm-top-nav>
    <wm-content name="content">
        <wm-left-panel columnwidth="2" name="leftpanel" content="leftnav"></wm-left-panel>
        <wm-page-content columnwidth="8" name="mainContent" padding="unset 15px">
            <wm-composite name="composite4">
                <wm-label class="col-md-3 control-label" name="label5_1"></wm-label>
                <wm-container class="col-md-9" name="container4">
                    <wm-date name="date1"></wm-date>
                </wm-container>
            </wm-composite>
            <wm-calendar name="calendar1asdf" selectionmode="single" dataset="bind:Variables.event_var.dataSet" eventstart="eventStart" eventend="eventEnd" eventallday="allDayEvent" eventtitle="eventTitle" on-select="Widgets.dialog1.open()"></wm-calendar>
            <wm-livetable formlayout="dialog" name="EventsTableLiveTable1">
                <wm-table gridfirstrowselect="true" editmode="dialog" name="EventsTableTable1" title="Eventstable List" dataset="bind:Variables.event_var.dataSet" navigation="Basic">
                    <wm-table-column binding="id" caption="Id" generator="identity" pcdisplay="true" mobiledisplay="true" type="integer" primary-key="true" readonly="true"></wm-table-column>
                    <wm-table-column binding="eventTitle" caption="Event Title" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                    <wm-table-column binding="description" caption="Description" generator="assigned" pcdisplay="true" mobiledisplay="true" type="string"></wm-table-column>
                    <wm-table-column binding="allDayEvent" caption="All Day Event" generator="assigned" pcdisplay="true" mobiledisplay="true" type="boolean"></wm-table-column>
                    <wm-table-column binding="eventStart" caption="Event Start" generator="assigned" pcdisplay="true" mobiledisplay="true" type="datetime"></wm-table-column>
                    <wm-table-column binding="eventEnd" caption="Event End" generator="assigned" pcdisplay="true" mobiledisplay="true" type="datetime"></wm-table-column>
                    <wm-table-action widget-type="button" key="addNewRow" display-name="New" iconclass="wi wi-plus" show="true" class="btn-primary" action="addNewRow()" position="footer" shortcutkey=""></wm-table-action>
                    <wm-table-row-action key="updaterow" display-name="" title="Edit" iconclass="wi wi-pencil" show="true" class="btn-transparent" action="editRow()"></wm-table-row-action>
                    <wm-table-row-action key="deleterow" display-name="" title="Delete" iconclass="wi wi-trash" show="true" class="btn-transparent" action="deleteRow()"></wm-table-row-action>
                </wm-table>
                <wm-liveform errormessage="" title="Eventstable Info" formlayout="dialog" iconclass="wi wi-edit" name="EventsTableLiveForm1" dataset="bind:Variables.event_var.dataSet" captionalign="left" captionposition="top">
                    <wm-layoutgrid columns="3" name="layoutgrid1">
                        <wm-gridrow name="gridrow1">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn1">
                                <wm-form-field name="eventTitle" displayname="Event Title" required="false" show="true" generator="assigned" primary-key="false" key="eventTitle" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                                    widget="text"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn2">
                                <wm-form-field name="description" displayname="Description" required="false" show="true" generator="assigned" primary-key="false" key="description" type="string" is-related="false" maxchars="255" pc-display="true" mobile-display="true"
                                    widget="text"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn3">
                                <wm-form-field name="allDayEvent" displayname="All Day Event" required="false" show="true" generator="assigned" primary-key="false" key="allDayEvent" type="boolean" is-related="false" pc-display="true" mobile-display="true"
                                    widget="radioset"></wm-form-field>
                            </wm-gridcolumn>
                        </wm-gridrow>
                        <wm-gridrow name="gridrow2">
                            <wm-gridcolumn columnwidth="4" name="gridcolumn4">
                                <wm-form-field name="eventStart" displayname="Event Start" required="false" show="true" generator="assigned" primary-key="false" key="eventStart" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn5">
                                <wm-form-field name="eventEnd" displayname="Event End" required="false" show="true" generator="assigned" primary-key="false" key="eventEnd" type="datetime" is-related="false" pc-display="true" mobile-display="true" widget="datetime"></wm-form-field>
                            </wm-gridcolumn>
                            <wm-gridcolumn columnwidth="4" name="gridcolumn6"></wm-gridcolumn>
                        </wm-gridrow>
                    </wm-layoutgrid>
                    <wm-form-field name="id" displayname="Id" required="true" show="false" generator="identity" primary-key="true" key="id" type="integer" is-related="false" step="0" pc-display="true" mobile-display="true" widget="number"></wm-form-field>
                    <wm-form-action key="cancel" class="form-cancel btn-secondary" iconclass="wi wi-cancel" action="cancel()" display-name="Cancel" show="true" type="button" update-mode="true"></wm-form-action>
                    <wm-form-action key="save" class="form-save btn-success" iconclass="wi wi-save" display-name="Save" show="true" type="submit" update-mode="true"></wm-form-action>
                </wm-liveform>
            </wm-livetable>
            <wm-label padding="unset 0.5em" name="label4"></wm-label>
        </wm-page-content>
        <wm-right-panel columnwidth="2" name="rightpanel" content="rightnav"></wm-right-panel>
    </wm-content>
    <wm-footer name="footer" content="footer"></wm-footer>
    <wm-view class="dialog-view" name="view1">
        <wm-dialog dialogtype="design-dialog" modal="true" title="Information" iconclass="wi wi-file-text" name="dialog1">
            <wm-dialogactions name="dialogactions1">
                <wm-button class="btn-primary" caption="Save" name="button1" on-click="Variables.create_event.invoke()"></wm-button>
                <wm-button class="btn-default" caption="Cancel" type="button" margin="unset 0.5em" name="button2" on-click="Widgets.dialog1.close()"></wm-button>
            </wm-dialogactions>
            <wm-composite name="composite1">
                <wm-label class="col-md-3 control-label" name="label5" caption="Title"></wm-label>
                <wm-container class="col-md-9" name="container1">
                    <wm-text name="eventtitle"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite2">
                <wm-label class="col-md-3 control-label" name="label6" caption="Desc"></wm-label>
                <wm-container class="col-md-9" name="container2">
                    <wm-text name="eventdesc"></wm-text>
                </wm-container>
            </wm-composite>
            <wm-composite name="composite3">
                <wm-label class="col-md-3 control-label" name="label3" caption="All Day"></wm-label>
                <wm-container class="col-md-9" name="container3">
                    <wm-radioset height="auto" name="allDayevent" dataset="True, False"></wm-radioset>
                </wm-container>
            </wm-composite>
        </wm-dialog>
    </wm-view>
</wm-page>